:root {
  --color-violet: #684bb1;
  --color-magenta: #e880e8;
  --color-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: var(--color-violet);
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 375px;
  height: 100%;
}

.logo {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 55px;
  padding-left: 35px;
}

.logo__image {
  width: 120px;
}

.image__mockups {
  width: 310px;
}

.text {
  margin-top: 40px;
  width: 305px;
  line-height: 1.5;
}

.text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 2.4rem;
}

.text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.6rem;
}

.button {
  margin-top: 10px;
}

.button_register {
  font-family: "Poppins", sans-serif;
  border: 0;
  padding: 15px 85px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 1.3rem;
  background-color: var(--color-white);
  color: var(--color-violet);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.button_register:hover,
.button_register:active {
  background-color: var(--color-magenta);
  color: var(--color-white);
}

.button_register:focus {
  outline: 0;
}

.social {
  margin-top: 50px;
}

.fab {
  border-radius: 100%;
  border: 1px solid var(--color-white);
  font-size: 1.5rem;
  margin: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;
}

.fab:active,
.fab:hover {
  border-color: var(--color-magenta);
  color: var(--color-magenta);
}
