body {
  background-image: url(/images/bg-desktop.svg);
  background-size: cover;
}

.container {
  width: 768px;
}

.logo {
  padding-left: 200px;
}

.logo__image {
  width: 150px;
}

.image__mockups {
  width: 375px;
}

.text {
  width: 350px;
}
